version: '3.1'

services:

  nginx:
    image: emcniece/nginx-cache-purge-wp:latest
    ports:
      - 8080:80
    links:
      - wp-fpm
    volumes:
      - wproot:/var/www/html

  wp-fpm:
    tty: true
    stdin_open: true
    image: emcniece/wordpress:latest
    volumes:
      - wproot:/var/www/html
    environment:
      WORDPRESS_DB_HOST: mysql
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WPFPM_WP_REDIS_HOST: redis
      WPFPM_RT_WP_NGINX_HELPER_CACHE_PATH: "/tmp/cache"
      #WP_PLUGINS: "nginx-helper redis-cache"
      #ENABLE_HYPERDB: "true"
      #ENABLE_CRON: "true"
      #CRON_CMD: "*/1 * * * * /usr/bin/curl -silent -A 'Mozilla' 'https://google.com' > /dev/null 2>&1"

  mysql:
    image: mariadb
    command: mysqld --innodb-buffer-pool-size=20M
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
      MYSQL_USER: wordpress
      MYSQL_DATABASE: wordpress
      MYSQL_PASSWORD: wordpress

  redis:
    image: redis:3-alpine

volumes:
  wproot:
